<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUaFivkpDnvlUPuoGWC6toLxMZt5IozNs</string>
	<key>GCM_SENDER_ID</key>
	<string>1030912547956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteCrud</string>
	<key>PROJECT_ID</key>
	<string>notecrud-64a67</string>
	<key>STORAGE_BUCKET</key>
	<string>notecrud-64a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030912547956:ios:ced9b18a4ecf044fa50521</string>
</dict>
</plist>